<!DOCTYPE html>
<html data-ng-app="login">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/App.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/starter-template.css" />
<link href="css/jumbotron-narrow.css" rel="stylesheet">
<link href="css/signin.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron">
		<h1>Employee Management System</h1>
		<div class="container" data-ng-controller="loginController">
			<form class="form-signin">
				<h3 class="form-signin-heading">User Name</h3>
				<input class="form-control" type="text" id="name"
					data-ng-model="myForm.userName" required autofocus>
				<h3 class="form-signin-heading">Password</h3>
				<input class="form-control" type="password" id="name"
					data-ng-model="myForm.password" required> <br />
				<div class="checkbox">
					<label> <input type="checkbox" value="remember-me">
						Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block"
					data-ng-click="myForm.submitTheForm()">Submit Form</button>
			</form>
		</div>
	</div>
</body>
</html>