
<!DOCTYPE html>
<html lang="en" data-ng-app="login">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Employee Management System</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet">
<link href="css/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron">
        <h1>Employee Management System</h1>
       <div class="container" data-ng-controller="loginController as login">
		<form class="form-signin" name="login" data-ng-submit="login.logIn()">
			<h2 class="form-signin-heading">Sign in</h2>
			<input type="text" class="form-control" data-ng-model="login.user.userName"
				required autofocus> <input type="password"
				class="form-control" data-ng-model="login.user.Password" required>
			<div class="checkbox">
				<label> <input type="checkbox" value="remember-me">
					Remember me
				</label>
			</div>
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
		</form>

	</div>
      </div>
	
	<!-- /container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
